<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
          class="list-group-item"
          *ngFor = "let oddNumber of oddNumbers"
          [ngClass] = "{ odd : oddNumber % 2 !== 0}"
          [ngStyle] = "{backgroundColor : odd % 2 !== 0 ? 'yellow' : 'transparent' }"
          >
          {{ oddNumber }}
        </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li
          class="list-group-item"
          [ngClass] = "{ odd : even % 2 === 0}"
          [ngStyle] = "{backgroundColor : evenNumber % 2 !== 0 ? 'yellow' : 'transparent' }"
          *ngFor = "let evenNumber of evenNumbers"
          >
          {{ evenNumber }}
        </li>
        </div> -->
        <div *appUnless="onlyOdd">
          <li
          class="list-group-item"
          [ngClass] = "{ odd : even % 2 === 0}"
          [ngStyle] = "{backgroundColor : evenNumber % 2 !== 0 ? 'yellow' : 'transparent' }"
          *ngFor = "let evenNumber of evenNumbers"
          >
          {{ evenNumber }}
        </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p appBasicHighlight>Only odd</p>
      </ng-template>
      <ng-template [ngIf]="!onlyOdd">
        <p appBetterHighligh defaultColor="yellow" [highlightColor]="'blue'">Only Even</p>
      </ng-template>
    </div>
    <div [ngSwitch]="value">
      <p *ngSwitchCase="5">Display {{ value }}</p>
      <p *ngSwitchCase="15">Display {{ value }}</p>
      <p *ngSwitchDefault>Display {{ value }}</p>
    </div>
  </div>
</div>
